{% extends "./base.html.twig" %}

{% block body %}
<h1>Tic Tac Toe</h1>
<p>Welcome to Tic Tac Toe Press "New Game" to Start</p>
    <form method="post">
        <button name="start" type="submit" value="start">New Game</button>
    </form>

{% endblock body %}
